.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ===========COMPONENTS========= */
.subtitle-name {
    color: var(--NAVY-BLUE, #2E2F42);

    /* Header 3 */
    font-family: Roboto;
    sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
}

.text-description {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

/* section2 */
.caption {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* ===========/COMPONENTS========= */

/* ===========LOGO======== */
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus {
    color: #FF6C00;
}

.company-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.company-name:hover,
.company-name:focus {
    color: #FF6C00;
}

.menu-link:hover,
.menu-link:focus {
    color: #FF6C00;
}

/* ===========/LOGO======== */
/* ============MENU INFO====== */
.contact-mail {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 1.5;
}

.contact-mail:hover,
.contact-mail:focus {
    color: #FF6C00;
}

.contact-phone-number {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 1.5;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: #FF6C00;
}

/* ============/MENU INFO====== */
/* ============HERO IMAGE======= */
.main-page {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.modal-btn {
    color: var(--WHITE, #FFF);

    /* Button Text */
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
    color: #FFF;
}

/* ============/HERO IMAGE======= */
/* ===========SECTION 1======= */